/* Styles for Example 4: Grids with Flex */

body {
  color: black;
  margin: 0;
}

a, a:link, a:hover, a:visited, a:active {
  color: #DB5461;
}

body > article,
body > aside,
body > footer,
body > header {
  padding: 1em 1ex;
}

header {
  background: #E8EBE4;
}

article {
  background: #FFD9CE;
}

aside {
  background: #C0DA74;
}

footer {
  background: #8AE1FC;
}

/* TODO: Write styles to combine the use of grid and flex. */

/* TODO: Write media queries to change layout depending on screen size/orientation.*/
