/*************************** 
This file provides an example solution for this exercise.
Your solution may differ from this provided solution and still work.
That's how the web is. Get used to it. Kudos on a job well-done!
****************************/

/* TODO: Create an example solution. */

body {
  display: grid;
  grid-gap: 1em 1ex;
  grid-template-areas:
    'header header '
    'main   sidebar'
    'footer footer ';
  grid-template-columns: 1fr 20ch;
  min-height: 100vh;
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.list-of-articles article {
  display: grid;
  grid-gap: 1em 1ex;
  grid-template:
    'img    title  ' min-content
    'img    content' 1fr
    'footer footer ' min-content
  / min-content 1fr;
}

.list-of-articles li:nth-child(even) article {
  grid-template-areas:
    'title   img   '
    'content img   '
    'footer  footer';
  grid-template-columns: 1fr min-content;
}

.list-of-articles article img {
  grid-area: img;
}

.list-of-articles article h3 {
  grid-area: title;
}

.list-of-articles article p {
  grid-area: content;
}

.list-of-articles article footer {
  grid-area: footer;
}

@media screen and (max-width: 60ch) {
  body {
    grid-template-areas:
      'header '
      'sidebar'
      'main   '
      'footer ';
    grid-template-columns: 100%;
  }
}
