/* Styles for Example 2: Mobile Three Column Traiditional Layout */

body {
	color: black;
}
a, a:link, a:hover, a:visited, a:active {
	color: #DB5461;
}

header {
	background: #E8EBE4;
}

article {
	background: #FFD9CE;
}

aside {
	background: #C0DA74;
}

footer {
	background: #8AE1FC;
}

/* TODO: Write styles to make traditional 3 column layout.*/

/* TODO: Write media queries to change layout depending on screen size/orientation.*/